In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('stars.csv')

In [4]:
data.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

In [5]:
from sklearn.preprocessing import LabelEncoder

# Create an instance of LabelEncoder
label_encoder = LabelEncoder()

# Encode the "Star color" column
data['Star color'] = label_encoder.fit_transform(data['Star color'])

# Encode the "Spectral Class" column
data['Spectral Class'] = label_encoder.fit_transform(data['Spectral Class'])

In [13]:
data['Star color'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 240 entries, 0 to 239
Series name: Star color
Non-Null Count  Dtype
--------------  -----
240 non-null    int32
dtypes: int32(1)
memory usage: 1.1 KB

In [6]:
data

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,10,5
1,3042,0.000500,0.1542,16.60,0,10,5
2,2600,0.000300,0.1020,18.70,0,10,5
3,2800,0.000200,0.1600,16.65,0,10,5
4,1939,0.000138,0.1030,20.06,0,10,5
...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,5,0,6
236,30839,834042.000000,1194.0000,-10.63,5,0,6
237,8829,537493.000000,1423.0000,-10.73,5,11,0
238,9235,404940.000000,1112.0000,-11.23,5,11,0
239,37882,294903.000000,1783.0000,-7.80,5,0,6

In [7]:
data.describe()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
count,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000,240.000000
mean,10497.462500,107188.361635,237.157781,4.382396,2.500000,7.250000,3.758333
std,9552.425037,179432.244940,517.155763,10.532512,1.711394,4.926659,2.090007
min,1939.000000,0.000080,0.008400,-11.920000,0.000000,0.000000,0.000000
25%,3344.250000,0.000865,0.102750,-6.232500,1.000000,2.000000,1.000000
50%,5776.000000,0.070500,0.762500,8.313000,2.500000,10.000000,5.000000
75%,15055.500000,198050.000000,42.750000,13.697500,4.000000,10.000000,5.000000
max,40000.000000,849420.000000,1948.500000,20.060000,5.000000,18.000000,6.000000

In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Split the data into features and target variable
X = data.drop('Star type', axis=1)
y = data['Star type']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a random forest classifier
rf_classifier = RandomForestClassifier()

# Fit the classifier to the training data
rf_classifier.fit(X_train, y_train)

# Predict the target variable for the test data
y_pred = rf_classifier.predict(X_test)

# Calculate the accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy*100)

Accuracy: 100.0

In [9]:

new_star = pd.DataFrame({
    'Temperature (K)': [np.random.uniform(240.000000, 40000.000000)],
    'Luminosity(L/Lo)': [np.random.uniform(0.000080	, 849420.000000)],
    'Radius(R/Ro)': [np.random.uniform(0.0084, 1948.500000)],
    'Absolute magnitude(Mv)': [np.random.uniform(-11.920000, 20.890000)],
    'Star color': [np.random.randint(0, 10)],
    'Spectral Class': [np.random.randint(0, 6)]
})


flag=rf_classifier.predict(new_star)

if flag==0:
    print("Brown Dwarf")
elif flag==1:
    print("Red Dwarf")
elif flag==2:
    print("White Dwarf")
elif flag==3:
    print("Main Sequence")
elif flag==4:
    print("Supergiant")
elif flag==5:
    print("Hypergiant")
else:
    print("Unknown")

Supergiant